/vendor
/node_modules
.env
.env.backup
.env.production

/public/build
/public/hot
/public/storage

/storage/*.key

/.idea
/.vscode
/.fleet
/.phpunit.cache

npm-debug.log
yarn-error.log

Homestead.yaml
Homestead.json
Thumbs.db
.DS_Store
